.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #f4f4f4;
}

.hbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.text-field {
    -fx-pref-width: 250px;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.text-field:focused {
    -fx-border-color: #66afe9;
    -fx-background-color: #e6f7ff;
}

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 15px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #0056b3;
}

.scroll-pane {
    -fx-background: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
}

.vbox {
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-font-size: 65px;
}

.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 0);
    -fx-border-color: #ddd;
    -fx-border-radius: 5px;
}

#signInButton {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 15px;
    -fx-border-radius: 5px;
}

#signInButton:hover {
    -fx-background-color: #218838;
}
